.App {
  text-align: center;
  text-decoration: none;

}
.mapcontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PlayerInfo{
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}
.PlayerMainInfo{
  text-decoration: none;
  color: white;
  min-width:500px;
  border-radius: 20px;
  background-color: #333333;
  padding: 20px;
  display: flex;
  justify-content: start;
  gap: 45px;
}

.PlayerBodyDet{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.PlayerStatDet{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.PlayerDet{
  margin: 15px;
  display: flex;
  justify-content: center;
  width: 95%;
}

.PlayerStartCard{
  width: 100%;
}

.PlayerMainInfo:hover{
  background-color: #757575;

}

.PlayerAvatar{
  align-self: center;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  background-color: white;
  overflow: hidden;
}

.imageInsideDiv {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение сохраняет пропорции и растягивается, чтобы полностью заполнить контейнер */
  }

.PlayerMainDetails{
  width: 65%;
}
.PlayerHeader{
  display: flex;
  gap: 15px;
  font-size: 25px;
  justify-content: start;
}
.PlayerAddInfo{
  min-width:500px;
  padding: 20px;
}
.PlayerAddBody{
  border-radius: 20px;
  background-color: #333333;
  padding: 20px;
  display: flex;
  justify-content: space-between;

}
.MatchControls{
  width: 65%;
  display: flex;
  justify-content: space-around;
  margin: 30px;

}
.MatchInfo{
  display: flex;
  justify-content: space-around; 
}
.MatchItem{
  margin: 10px;
}
.MatchInfo{
  width: 45%;
}

.apexcharts-heatmap-rect{
  opacity: 0.7;
}

span.apexcharts-legend-text{
  color: white !important;
}
.apexcharts-tooltip{
  color: black;
}

.custom-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.player-item {
  margin-bottom: 5px;
}

.team-blue {
  width: 10px;
  height: 15px;
  background-color: blue;
  margin: 5px;
  padding: 5px;
}

.team-red {
  width: 15px;
  height: 15px;
  background-color: red;
  margin: 5px;
  padding: 5px;
}

.meow{
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
}

.chartsPlayer{
  display: flex;
  justify-content: space-around;
}